/* Page background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    background: linear-gradient(-45deg, #667eea, #764ba2, #ff9a9e, #fad0c4);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* Resume card */
.resume {
    width: 75%;
    margin: 40px auto;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    border-radius: 12px;
}

header h1 {
    margin: 0;
    color: #2d2d2d;
}

header p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

/* Sections */
section {
    margin-top: 25px;
}

section h2 {
    color: #764ba2;
    border-left: 6px solid #7b2cbf;
    padding-left: 10px;
}

section p {
    color: #333;
    line-height: 1.6;
}

/* Skills */
.skills {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skills li {
    background-color: #7b2cbf; /* Purple */
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

/* Footer */
footer {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
    border-radius: 10px;
    font-size: 14px;
}
footer p {
    margin: 0;
    color: #2d2d2d;
}
